// Color theme: Light

// Background of the entire document.
$bg: #E9E9E9;

// Background of the entire <main> - aka, the scripts list.
$list_bg: #F0F0F0;

// Background of the script view.
$view_bg: #F8F8F8;

// Accent color 1: Really strong accent
$accent: #1C6360;
// Accent color 1: Really weak, but same color
$accent1: #D6E3E2;