<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>woo! new scripts!</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/unsemantic/0/unsemantic-grid-responsive.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/railscasts.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
  <link rel="stylesheet" href="browse.css">
</head>
<body>
  <header>
    <h1>Script Server</h1>
    <nav>
      <a href="http://tpt.io/:19400">thread</a> &middot;
      <a href="https://github.com/boxmein/starcatcher-script-server-design/blob/master/README.md">project</a> &middot;
      <a href="#" class="active">browse</a> &middot;
      <a href="./submit.lua">submit</a> &middot;
      <a href="https://github.com/boxmein/starcatcher-script-server-design">github</a>
    </nav>
  </header>

  <main>
    <div class="grid-container">
      <!-- todo extra: if direct link to script, hide this! -->
      <div id="script-list" class="grid-33 mobile-grid-100 hide-on-directlink">
        <h4>Scripts</h4>
        <ul id="script-list-ul"><div class="spinner"></div></ul>
        <div id="next-page">more</div>
        <div id="collapse-list" class="hide-on-desktop">&#8801;</div>
      </div>
      <!-- end if -->
    
      <div id="script-view" class="grid-66 mobile-grid-100">
        <div class="script"> 
          <div class="spinner"></div>
        </div>   
      </div>
    </div>
  </main>

  <footer>
    <div class="spinner" style="display: inline-block"></div>
    v1.2 - design &copy; boxmein 1414153213
  </footer>
  
  <!-- Boxmein Breaks Conventions 2: Electric Boogaloo -->
  <script type="text/x-underscore-template" id="scripttemplate">
    <div class="script">
      <h2><%= title %><span class="version">v<%= version %></span>
          <span class="author">by <%= author %></span></h2>

      <% if (description) { %> 
      <h3>Description</h3> 
      <div class="description"><%= description %></div>
      <% } %>

      <% if (changelog) { %> 
      <h3>Changelog</h3> 
      <div class="changelog"><%= changelog %></div>
      <% } %>

      <h3>Source code</h3>
      <div class="source">
        <pre><code class="lua" id="sourcecodehere"><%= source %>
        </pre></code>
      </div>

    </div>
  </script>

  <script type="text/x-underscore-template" id="listitemtemplate">
    <li class="script-item <%= status %>" data-id="<%= ID %>">
      <span class="id">(<%= ID %>)</span>
      <span class="title"><%= title %></span>
      <div class="author">by <%= author %></div>
    </li>
  </script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="highlight.pack.js"></script>
  <script src="main.js"></script>
</body>
</html>