doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/unsemantic/0/unsemantic-grid-responsive.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/railscasts.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
    link(rel='stylesheet', href='index.css')

  body
    block body
      header
        block header
          h1 Script Server
          nav
            a#submit-page(href='#submit-page') submit
            | &middot;
            a#browse-page(href='#' class='active') browse
            | &middot;
            a(href='http://tpt.io/:19400') thread
          noscript.
            This site uses heavy amounts of Javascript in its operations. Please
            enable it, for if you cannot, this site will not work properly.
            
      main
        block main
  
      footer
        block footer
          .spinner(style='display: inline-block')
          | &nbsp;v1.7.0-beta - design &copy; boxmein 1416266966
